.bg-theme-primary{
  background-color: $primaryColor;
}
.bg-theme-secondary{
  background-color: $secondaryColor;
}


//buttons
.btn-theme-primary{
  background-color: $primaryColor;
  color: #fff;
  padding: 8px 25px;
  border-radius: 0;
}
