.concern{
  background: url("~/assets/images/banner/banner5.jpeg") no-repeat;
  background-size: cover;
  background-position: right center;
  position: relative;
  .hamburger-toggle{
    position: absolute;
    top: 35px;
    right: 35px;
  }
  .sidebar-inner{
    height: 100%;
    .header, .sidebar-inner-body, .sidebar-footer{
      min-width: 100%;
      width: 100%;
    }
  }
  &-content{
    width: 50%;
    height: 100vh;
    background: url("~/assets/images/banner/banner1.jpeg") no-repeat;
    position: relative;
    &-overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px 30px 40px;
      background-color: rgba(0,0,0, .8);
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
      }

      &::-webkit-scrollbar-thumb {
        outline: none;
        background-color: darkgrey;
        border-radius: 15px;
      }
    }
    .title{
      margin-bottom: 32px;
    }
    .concern-content-img{
      width: 50%;
      margin: 0 auto 32px;
    }
    .concern-text{
      font-weight: 300;
      font-size: .9rem;
      &-title{
        font-size: 1rem;
        margin-bottom: .25rem;
      }
      .concern-paragraph{
        margin-bottom: 24px;
      }
      &-list{
        .list-group-item{
          background-color: transparent;
          border: none;
          border-bottom: 1px solid rgba(255,255,255, 0.09);
          padding: 15px 0;
          .action{
            min-width: 100px;
            text-align: right;
            .btn-action{
              border: 1px solid $primaryColor;
              color: $primaryColor;
              border-radius: 0;
              padding: 0.175rem 0.55rem;
              transition: all ease .3s;
              &:hover{
                background-color: $primaryColor;
                color: #fff;
              }
            }
          }
        }
      }
      &-card{
        margin-top: 50px;
        &-img{
          width: 60%;
          margin: 15px auto;
          text-align: center;
        }
        &-name{
          font-size: 1.115rem;
          text-align: center;
        }
        &-designation{
          text-align: center;
        }
      }
      &-table{
        overflow-x: scroll;
        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
        }

        &::-webkit-scrollbar-thumb {
          outline: none;
          background-color: darkgrey;
          border-radius: 15px;
        }
        .table{
          tr{
            th,td{
              color: #fff;
              padding: 8px;
              font-size: 12px;
              vertical-align: middle;
              border: 1px solid rgba(255,255,255, 0.1);
            }
          }
        }
      }
      &-features{
        .list-group-item{
          background-color: transparent;
          padding: 3px 0;
          border: none;
          &-left{
            min-width: 100px;
          }
        }
      }
      .pagination{
        &-item{
          padding: 0;
          color: #6D6E71;
          font-size: 1.115rem;
          font-weight: bold;
          margin: 0 10px;
          &:hover, &:focus{
            color: $primaryColor;
          }
        }
        .btn-action{
          border: 1px solid $primaryColor;
          color: $primaryColor;
          border-radius: 0;
          padding: 0.175rem 0.55rem;
          transition: all ease .3s;
          &:hover{
            background-color: $primaryColor;
            color: #fff;
          }
        }
        .btn-action.disabled-class{
          border: 1px solid #ddd;
          background-color: #ddd;
          color: #111111;
          cursor: not-allowed;
        }
      }
      &-form{
        .form-group{
          border-bottom: 1px solid rgba(255,255,255, 0.09);
          .form-control{
            background-color: transparent;
            border: 0;
            border-radius: 0;
            margin-bottom: 10px;
            height: calc(2em + 0.75rem + 2px);
            color: #fff;
            padding-left: 0;
            &:focus-within{
              box-shadow: none;
              outline: none;
            }
            &::placeholder{
              color: #aaa;
            }
          }
          .error-text{
            color: #a94442;
            display: block;
            margin-bottom: .5rem;
          }
          .btn{
            border-radius: 0;
            margin-bottom: 1rem;
          }
          .btn-upload{
            background-color: $primaryColor;
            color: #fff;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  // concern pages sidebar
  .sidebar{
    color: #A0A2A5;
    &-concern-title{
      padding-bottom: 27px;
      border-bottom: 2px solid #181818;
      .arrow-icon{
        width: 30px;
        max-height: 20px;
        position: relative;
        left: 0;
        margin-right: 15px;
      }
      &:hover .arrow-icon {
        -webkit-animation: arrowIconAnim 0.29s ease-out;
        -moz-animation: arrowIconAnim 0.29s ease-out;
        -o-animation: arrowIconAnim 0.29s ease-out;
        animation: arrowIconAnim 0.29s ease-out;
        animation-duration: 0.29s;
        animation-timing-function: ease-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: arrowIconAnim;
      }
      @keyframes arrowIconAnim {
        from {
          left: 15px;
        }
        to {
          left: 0
        }
      }
    }
    a{
      color: #A0A2A5;
      &:hover{
        color: #fff;
      }
    }

    &-menu{
      .list-group-item{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255,255,255, .05);
        position: relative;
        padding-left: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: bold;
        &:last-child{
          border-radius: 0;
        }
        &::after{
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          left: 0;
          bottom: -1px;
          background-color: $primaryColor;
          transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
        &:hover::after{
          width: 100%;
        }
      }
      .list-group-item.nuxt-link-active{
        color: #fff;
        border-bottom: 1px solid $primaryColor;
      }
    }
  }
  //concern footer
  &-footer{
    background-color: $secondaryColor;
  }
}

@media (max-width: 1199.98px){
  .concern{
    .left-sidebar{
      width: 300px;
      min-width: 300px;
    }
    //&-content{
    //  &-overlay{
    //    overflow-x: hidden;
    //    &::-webkit-scrollbar {
    //      width: 5px;
    //    }
    //
    //    &::-webkit-scrollbar-track {
    //      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
    //    }
    //
    //    &::-webkit-scrollbar-thumb {
    //      outline: none;
    //      background-color: darkgrey;
    //      border-radius: 15px;
    //    }
    //  }
    //}
  }
}

@media (max-width: 991.98px){
  .concern{
    &-content{
      width: 100%;
    }
  }
}
@media (min-width: 768px){
  .concern{
    &-footer{
      display: none;
    }
  }
}
@media (max-width: 767.98px){
  .concern{
    &-main{
      flex-direction: column;
    }
    .left-sidebar{
      width: 100%;
    }
    .main-content{
      width: 100%;
      height: 100% !important;
    }
    &-content{
      height: 100% !important;
      &-overlay{
        position: static;
      }
    }
    &-sidebar-footer{
      display:  none;
    }
  }
}
